<h1>I am Carlos Le&oacute;n, passionate about life and code.</h1>
<div id="now-playing" class="hidden">
  I probably am now playing:
  &#9836;&nbsp;<span class="viewport"></span>&nbsp;&#9836;
</div>

<!--
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
  window.LastFmApiKey = "<%= lastfm_api_key %>";
</script>
<script type="text/javascript" src="/javascripts/about.js"></script>
-->
