<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="author" content="Carlos León">
    <meta name="description" content="Carlos León's personal website">
    <meta name="keywords" content="html, css, javascript, js, jquery, angularjs, angular, backbonejs, backbone, mongodb, mongo, sql, mysql, postgresql, postgres, psql, ruby, ruby on rails, rails, ror, barranquilla, colombia, developer, developers, desarrollador, desarrolladores, programador, programador de computadores, programador de sistemas, programadores, analista, analistas, freelance, web, web development">
    <title>Mongrelion &copy; 2013</title>
    <link href="/images/avatar.png" rel="icon" type="image/png" />
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/lib/prettify/sunburst.css" type="text/css" media="all" charset="utf-8">
  </head>
  <body>
    <!-- Top Menu -->
    <menu>
      <item link="#/articles">&#9733;&nbsp;Articles</item>
      <item link="#/readings">&#9733;&nbsp;Readings</item>
      <item link="#/projects">&#9733;&nbsp;Projects</item>
      <item link="http://flickr.com/photos/mongrelion">&#9733;&nbsp;Photos</item>
      <item link="http://github.com/mongrelion">&#9733;&nbsp;GitHub</item>
    </menu>
    <!-- end menu -->

    <!-- container -->
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3 fancy-border profile-box">
          <!-- Sidebar Content -->
          <ul class="thumbnails">
            <li class="span12">
              <a href="#" class="thumbnail"><img src="http://gravatar.com/avatar/230040c8f72b7e8ec4c222b5d17f9cb8.jpg?s=200" /></a>
            </li>
          </ul>
          <div class="social-icons">
            <a href="http://twitter.com/mongrelion"><i class="icon twitter"></i></a>
            <a href="http://last.fm/user/mongrelion"><i class="icon lastfm"></i></a>
            <a href="http://www.youtube.com/user/mongrelion"><i class="icon youtube"></i></a>
            <a href="http://www.linkedin.com/in/mongrelion"><i class="icon linkedin"></i></a>
            <a href="http://www.imdb.com/user/ur25511550/"><i class="icon imdb"></i></a>
            <a href="http://flickr.com/photos/mongrelion"><i class="icon flickr"></i></a>
          </div>
        </div>

        <div class="span9 content" ng-view>
          <%= yield %>
        </div>
      </div>
    </div>
    <!-- end container -->

    <!-- Footer -->
    <footer class="footer">
      <div class="container-fluid">
        <p class="muted">
          <a href="http://www.paulrobertlloyd.com/2009/06/social_media_icons/">Social Media Icons</a> licenced under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a> license.
        </p>
        <p class="muted">
          Content on this site is licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">CC BY-SA 3.0</a> license unless stated otherwise.
        </p>
      </div>
    </footer>

    <!-- Javascripts -->
    <%= erb :js %>
  </body>
</html>
