<!DOCTYPE html>
<html lang="en" ng-app="futbol5">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Mongrelion &copy; 2012</title>
    <link href="/images/avatar.png" rel="icon" type="image/png" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/mongrelion.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    <!-- menu -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Carlos Le&oacute;n</a>
          <ul class="nav">
            <li><a href="/articles">&#9733;&nbsp;Articles</a></li>
            <li><a href="/projects">&#9733;&nbsp;Projects</a></li>
            <li><a href="/readings">&#9733;&nbsp;Readings</a></li>
            <li><a href="/movies">&#9733;&nbsp;Movies</a></li>
            <li><a href="http://flickr.com/photos/mongrelion">&#9733;&nbsp;Photos</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end menu -->

    <!-- container -->
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3 fancy-border">
          <!-- Sidebar Content -->
          <ul class="unstyled social">
            <li><a class="btn btn-primary span12" href="http://twitter.com/mongrelion">Twitter</a></li>
            <li><a class="btn btn-success span12" href="http://github.com/mongrelion">Github</a></li>
            <li><a class="btn span12" href="http://stackoverflow.com/users/1415508/mongrelion">Stackoverflow</a></li>
            <li><a class="btn btn-danger span12" href="http://last.fm/user/mongrelion">Last.fm</a></li>
          </ul>
        </div>

        <div class="span9">
          <%= yield %>
        </div>
      </div>
    </div>
    <!-- end container -->

    <!-- javascripts -->
    <%= erb :google_analytics %>
  </body>
</html>
