body {
  padding-top: 60px;
}

.navbar.navbar-fixed-top {
  box-shadow: 0 0px 35px #000;
}

.navbar .navbar-inner .container {
  width: auto;
  padding: 0 20px;
}

.navbar .navbar-inner .container ul.nav {
  font-size: 0.85em;
}

ul.social li a {
  margin-bottom: 5px;
}

article {
  margin-bottom: 10px;
}

.fancy-border {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 5px 5px 16px #ddd
}

.hidden {
  display: none;
}

blockquote:hover {
  border-color: #000;
}
