base_dir = "/path/to/app"

directory       base_dir
environment     "production"
daemonize       true
threads         0, 8
bind            "unix://#{base_dir}/tmp/server.socket"
rackup          "#{base_dir}/config.ru"
stdout_redirect "#{base_dir}/log/access.log", "#{base_dir}/log/error.log", true
pidfile         "#{base_dir}/tmp/server.pid"
