{{ template "partials/header.html" . }}
<div id="article">
  <div class="article-title">{{ .Title }}</div>
  <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> {{ .Date.Format  "2006-01-02" }}</small></p>
  <div class="tags">
    {{ $baseUrl := .Site.BaseURL }}
    {{ range .Params.tags }}
      <a class="tag" href="{{ $baseUrl }}/tags/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </div>

  <hr/>

  <div class="post">
    {{ .Content }}
  </div>
</div>

<ul class="pager">
  {{with .Prev}} &nbsp;<li class="previous"><a href="{{.Permalink}}"> {{.Title}}</a></li>{{end}}
  {{with .Next}} &nbsp;<li class="next"><a href="{{.Permalink}}"> {{.Title}}</a></li>{{end}}
</ul>

{{ partial "disqus.html" . }}

</ul>
</div>
{{ template "partials/footer.html" . }}
