<div class="clearfix"></div>
<div class="hero-unit span11">
  <p>
    Throughout my professional career, I have been involved in several projects.
    In some of them, my participation can be catalogued as a minor input but the
    ones I list here are those whom I have had to make important decisions regarding
    technologies to use and to implement them, application design, team management
    in some of them, maintenance, deployment, bugfix, heavy refactoring, etc.
  </p>
</div>

<div class="clearfix"></div>

<!-- Non Commercial Projects -->
<div class="alert alert-info span11">
  <small>Non-Commercial projects (projects I have participated in for fun/love/friendship/boreness).</small>
</div>

<div class="well span11">
  <h3>
    <a href="https://github.com/dev-co/ninja-bot/">ninja-bot</a>
  </h3>

  <p>Team/Employer: <i><a href="https://github.com/dev-co">DevCO</a></i></p>

  <p>
    <i>IRC bot for #dev-co at freenode.net</i>
  </p>
</div>

<div class="well span11">
  <h3>
    <a href="https://github.com/dev-co/snippets/">snippets</a>
  </h3>

  <p>Team/Employer: <i><a href="https://github.com/dev-co">DevCO</a></i></p>

  <p>
    <i>
      A pastebin clone made Sinatra running in the Google Application Engine
      using Sinatra, JRuby and DataMapper.
    </i>
  </p>
</div>

<div class="well span11">
  <h3>
    <a href="https://github.com/mongrelion/carlosleon.info">carlosleon.info</a>
  </h3>

  <p>Team/Employer: <i><a href="https://github.com/mongrelion">mongrelion</a></i></p>

  <p>
    <i>
      This, my personal website, is open source and you can check the code in Github.
      using Sinatra, JRuby and DataMapper.
    </i>
  </p>
</div>

<!-- Commercial Projects -->
<div class="alert alert-success span11">
  <small>Commercial projects (projects I have made money with).</small>
</div>

<div class="well span11">
  <h3>
    <a href="http://iwim.im">iWin</a>
  </h3>
  <p>Team/Employer: <i>iWin Team</i></p>
  <p>
    <i>
      Contests and rafflers application working on top of Facebook.
    </i>
  </p>
</div>

<div class="clearfix"></div>

<div class="well span11">
  <h3>
    <a href="http://gotown.com">GoTown</a>
  </h3>

  <p>Team/Employer: <i><a href="http://koombea.com">Koombea</a></i></p>

  <p>
    <i>
      Web application for finding local deals in the state of California.
      very own smartphone, collecting money (donations) from their friends.
    </i>
  </p>
</div>

<div class="well span11">
  <h3>
    <a href="http://skumo.com">Skumo</a>
  </h3>

  <p>Team/Employer: <i><a href="http://koombea.com">Koombea</a></i></p>

  <p>
    <i>
      Website for finding local business (restaurants, groceries, casinos, etc.)
    </i>
  </p>
</div>

<div class="well span11">
  <h3>
    <a href="http://quieromitigo.com">Quiero Mi Tigo</a>
  </h3>

  <p>Team/Employer: <i><a href="http://koombea.com">Koombea</a></i></p>

  <p>
    <i>
      Social networks' empowered, this application helps people to get their
      very own smartphone, collecting money (donations) from their friends.
    </i>
  </p>
</div>

<div class="well span11">
  <h3>
    <a href="http://qliqsoft.com">qliqSoft</a>
  </h3>

  <p>Team/Employer: <i><a href="http://qliqsoft.com">qliq Team</a></i></p>

  <p>
    <i>
      Secure, HIPAA and HITECH-compliant healthcare communication platform.
    </i>
  </p>
</div>

<div class="well span11">
  <h3>
    <a href="http://2carpros.com">2CarPros</a>
  </h3>

  <p>Team/Employer: <i><a href="http://martianinteractive.com">Martian Interactive</a></i></p>

  <p>
    <i>
      Car's Q&A site.
    </i>
  </p>
</div>

<div class="well span11">
  <h3>
    <a href="http://www.learnhvac.org/">LearnHVAC</a>
  </h3>

  <p>Team/Employer: <i><a href="http://martianinteractive.com">Martian Interactive</a></i></p>

  <p>
    <i>
      Platform for teaching students about HVAC systems.
      <br/>
      The application consists in a desktop and a web application. I was involved
      in the web application side.
    </i>
  </p>
</div>

<div class="well span11">
  <h3>
    <a href="http://www.newlywish.com/">NewlyWish</a>
  </h3>

  <p>Team/Employer: <i><a href="http://martianinteractive.com">Martian Interactive</a></i></p>

  <p>
    <i>
      Wedding gift registry service. Create your registry (sort of a wishlist)
      and let your friends buy them for you directly from the website itself.
    </i>
  </p>
</div>
