<div class="clearfix"></div>
<div class="hero-unit span11">
  <p>
    Throughout my professional career, I have been involved in several projects.
    In some of them, my participation can be catalogued as a minor input but the
    ones I list here are those whom I have had to make important decisions regarding
    technologies to use and to implement them, application design, team management
    in some of them, maintenance, deployment, bugfix, heavy refactoring, etc.
  </p>
</div>

<div class="clearfix"></div>

<!-- Non Commercial Projects -->
<div class="alert alert-info span11">
  <small>Non-Commercial projects (projects I have participated in for fun/love/friendship/boreness).</small>
</div>

<ul class="projects thumbnails span11">
  <li class="span3" ng-repeat="project in osProjects">
    <div class="project thumbnail">
      <img ng-src="{{project.screenshot}}" />
      <h3><a ng-href="{{project.url}}">{{project.name}}</a></h3>
      <p>Team/Employer: <i><a ng-href="{{project.teamUrl}}">{{project.team}}</a></i></p>
      <p class="description">{{project.description}}</p>
    </div>
  </li>
</ul>

<!-- Commercial Projects -->
<div class="alert alert-success span11">
  <small>Commercial projects (projects I have made money with).</small>
</div>

<ul class="projects thumbnails span11">
  <li class="span3" ng-repeat="project in comProjects">
    <div class="project thumbnail">
      <img ng-src="{{project.screenshot}}" />
      <h3><a ng-href="{{project.url}}">{{project.name}}</a></h3>
      <p>Team/Employer: <i><a ng-href="{{project.teamUrl}}">{{project.team}}</a></i></p>
      <p class="description">{{project.description}}</p>
    </div>
  </li>
</ul>
